 .m-t-5{
 	margin-top: 5px;
 }
 .m-t-10{
 	margin-top: 10px;
 }
 .m-t-40{
 	margin-top: 40px;
 }
 .nav-left{
 	    margin-left: 21%;
    	margin-top: 40px;
 }
 .navbar-toggle{
 	background-color: blue !important;
 }
 .navbar-toggle .icon-bar {
 	background-color: white;
 }

 #exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #000 !important;
    background-color: #FFCB24 !important;
}

#exTab3 .tab-content {
  color : black;
  background-color: transparent;
  padding : 5px 15px;
  margin-top: 5%;
}
.nav-pills-text{
	    margin-top: 2%;
    text-align: center;
}
.nav-pills-center{
	    margin-left: 33%;
}
.border-box{
	border: 1px solid brown;
    padding: 10px;
}
.footer{
	background-color: #2D2056;
	color:  #fff;
	margin-top: 20px;
}



















@media screen and (max-width: 968px) and (min-width: 700px){
	.m-t-30{
	margin-top: 10%;
}
.nav-left {
    margin-left: 35%;
    margin-top: -13px;
}
.navbar-toggle {
    background-color: blue !important;
    margin-top: 37px;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: -10px !important;
    margin-left: 1% !important;
}
}
@media screen and (max-width: 699px) and (min-width: 480px){
	.m-t-30{
	margin-top: 0%;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 24px;
    margin-left: -37px;
    margin-top: 1px;
}
.navbar-toggle {
    background-color: blue !important;
    margin-top: 38px;
}
}
@media screen and (max-width: 479px) and (min-width: 320px){
	.m-t-30{
	margin-top: 0%;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 24px;
    margin-left: -37px;
    margin-top: 1px;
}
.navbar-toggle {
    background-color: blue !important;
    margin-top: 38px;
}
.nav-pills-center {
    margin-left: 14%;
}
}
@media screen and (max-width: 319px) and (min-width: 230px){
	.m-t-30{
	margin-top: 0%;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 24px;
    margin-left: -37px;
    margin-top: 1px;
}
.navbar-toggle {
    background-color: blue !important;
    margin-top: 38px;
}
.nav-pills-center {
    margin-left: 14%;
}

}


